.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex:1;
  margin-top: 5em;
  padding: 1em 4em 1em 4em;
}

.app-footer{
  text-align: center;
}

.app-header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo{
  color: white;
  font-weight: 600;
}

.blog-title{
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}
.blog-subtitle{
  font-size: 1.6em;
}

.blog-body{
  font-size: 1.4em;
}